.container{
    .post_title{
        list-style: none;
    }
    .post{
        display: flex;
        flex-direction:row;
        border-bottom: 1px solid black;
        .post_list{
            list-style: none;
            display: flex;

        }
        .post_img{
            max-height: 170px;
            width: 250px;
            margin: 20px;
            
        }
    }
}